<div class="flex flex-col flex-shrink-0 bg-[#343a40] h-full p-3">
  <div class="flex items-center justify-center py-2">
    <%= link_to "AMS", root_path, class: "text-white text-3xl font-semibold" %>
  </div>

  <hr class="h-px bg-gray-200 border-0">

  <ul class="flex flex-col mt-4 gap-4">
    <li>
      <%= sidebar_link_to(cats_path, "ðŸ˜º", "ã­ã“") %>
    </li>
    <li>
      <%= sidebar_link_to(root_path, "ðŸ¶", "ã„ã¬") %>
    </li>
    <li>
      <%= sidebar_link_to(root_path, "ðŸ£", "ã²ã‚ˆã“") %>
    </li>
    <li>
      <%= sidebar_link_to(root_path, "ðŸ¦”", "ãƒãƒªãƒã‚ºãƒŸ") %>
    </li>
    <li>
      <%= sidebar_link_to(root_path, "ðŸ¦‰", "ãƒ•ã‚¯ãƒ­ã‚¦") %>
    </li>
  </ul>
</div>